<ion-content class="FondoAzul" >

  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="12" class="ion-col-6" >
        <ion-title  class="titulo  ion-text-center" style="font-size: 250%; color: white; font-family: Cooper Black;" >
          <i>PERDIDOCS</i> 
        </ion-title>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-grid>
  <ion-row class="ion-justify-content-end" >

    <ion-col  size="6">
      <ion-img (click)="cambioColor()" class="imagen animate__animated animate__rubberBand" src="../../assets/caritaojos.svg" ></ion-img>
    </ion-col>   

    
    
      <ion-col  class="ion-align-self-center"  size-lg="6" size-md="6" size-sm="6" size="12"  >
        <ion-button class="texto"
              routerLink="/encontre"
              expand="block"
              fill="clear"
              shape="round"
              style="background-color: white; border: black solid 3px; color: black; font-size: 130%; font-family: Cooper Black;" >    
              Encontré Documento    
          </ion-button>
          <ion-button class="texto"
            routerLink="/buscar"
            expand="block"
            fill="clear"
            shape="round"
            style="background-color: white; border: black solid 3px; color: black; font-size: 130%; font-family: Cooper Black;" >    
            Buscar Documento    
          </ion-button>
      </ion-col>
  
      <ion-col   size-lg="6" size-md="6" size-sm="6" size="12"  >
        

          <ion-button (click)="getDatos()"> 
            obtener datos
          </ion-button>
         
        </ion-col>
  </ion-row>
  <!-- <ion-col class="ion-align-self-end" >
    <ion-row class="ion-align-items-end">
      <ion-img class="banner" src="../../assets/Banner.png" ></ion-img>
    </ion-row>
  </ion-col> -->
</ion-grid>  
</ion-content>